{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française {% endblock %}

{% block content %}
<h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec nous, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-8">
            {{ form(form) }}
        </div>
        <div class="col-4">
            <strong>La Boutique Française du surf</strong>
            <hr>
            <img src="{{ asset('assets/img/phone-call.png') }}" alt="phone"> 0606060606<br>
            <img src="{{ asset('assets/img/home-address.png') }}" alt="map"> 81 rue de la plage, 29000 Quimper<br/>
            <img src="{{ asset('assets/img/mail.png') }}" alt="mail"> contact@laboutiquefrançaisedusurf.fr
        </div>
    </div>
{% endblock %}
